.statistics {
  width: min-content;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
}

.statList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.item {
  width: 70px;
  display: flex;
  padding: 15px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
